body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  padding-top: 5 rem;
  margin: 0 auto;
  width: 600px;
}

.rm {
  background-color: red;
  border-radius: 50%;
  color: #ffffff;
  border: none;
}

.done {
  text-decoration: line-through;
}

.form {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}
.input-todo, .input-submit {
  font-size: 1rem;
  padding: .3rem;
}
.input-todo {
  width: 100%;
}
.input-submit {
  display: block;
  width: 10rem;
}

.wrapper-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

/* Loader Style */

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid rgb(217, 245, 203);
  border-color: rgb(217, 245, 203) transparent rgb(217, 245, 203) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Loader Style End */