body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  padding-top: 5 rem;
  margin: 0 auto;
  width: 600px;
}

.rm {
  background-color: red;
  border-radius: 50%;
  color: #ffffff;
  border: none;
}

.done {
  text-decoration: line-through;
}

.form {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}
.input-todo, .input-submit {
  font-size: 1rem;
  padding: .3rem;
}
.input-todo {
  width: 100%;
}
.input-submit {
  display: block;
  width: 10rem;
}